<html>
  <head>
    <title>Everyone's an Admin</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Hell, Where Everyone's an Admin!</h1>
    </header>
    <main>
      <form class="createSection" method="POST" action="/">
        <h2>Create a Post</h2>
        <input type="text" value="" name="title" />
        <textarea name="body"></textarea>
        <input type="submit" value="Submit" />
      </form>

    </main>
  </body>
</html>